body{
    margin: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

.menu-icon{
    width: 25px;
    height: 25px;
    fill: gray;
    cursor: pointer;
}

.header{
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0,0,0,.4);
    padding: .5rem .75rem;
}

.menu-icon:hover{
    fill : black;
}

.menu-icon-btn{
    background : none;
    border: none;
    padding: 0;
}